<section>
    <div class="container-2 px-3 py-5 mx-auto">
        @if (user?._id) {
        <button
            class="btn btn-primary border-danger-subtle border-3 rounded-pill text-white font-poppins-600-18 px-4 py-2 d-block mx-auto"
            (click)="openCreateEditPostDialog()">
            Write a blog
        </button>
        }
        @if (initialBlogsLoading) {
        <div class="text-center mt-5">
            <p class="font-poppins-500-16">Loading blogs...</p>
        </div>
        } @else {
        <ul>
            @for (blog of blogs; track $index) {
            <li class="shadow rounded-3 p-3 mt-4 bg-white">
                <app-blog [blog]="blog" (blogUpdated)="onBlogUpdated($event, blog)"></app-blog>
            </li>
            }
        </ul>
        @if (hasNext) {
        <div class="text-center mt-4">
            <button class="btn btn-outline-primary font-poppins-600-16 position-relative" (click)="loadMore()"
                [disabled]="loadMoreLoading">
                @if (loadMoreLoading) {
                <mat-spinner diameter="20"
                    class="me-2 position-absolute top-50 start-50 translate-middle"></mat-spinner>
                }
                <span [ngClass]="{ 'invisible': loadMoreLoading }">
                    Show More
                </span>
            </button>
        </div>
        }
        }
    </div>
</section>