@if (formGroup) {

<form [formGroup]='formGroup' (ngSubmit)="submit()" class="common-form">
    <ul class="form-fields">
        @for (formField of formFields; track $index) {
        <li class="mt-5 form-field">
            <div class="form-field-wrapper">
                @let fieldInformation = formField.information;
                @let controlName = fieldInformation.controlName;
                @let fieldControl = getFieldControl(controlName);
                <label [for]="controlName" class="font-poppins-400-16 mb-2">
                    {{fieldInformation?.label}}
                </label>
                @switch (fieldInformation.fieldType) {
                @case ('text') {
                <input [formControlName]="controlName" [type]="fieldInformation.type"
                    [placeholder]="fieldInformation?.placeholder" class="font-poppins-400-18 w-100 px-3 py-2">
                }
                @case ('checkUserName') {
                <input [formControlName]="'checkUserName'" type="text" [placeholder]="fieldInformation?.placeholder"
                    class="font-poppins-400-18 w-100 px-3 py-2" (input)="inputUserName($event)">
                <div class="font-poppins-400-16">
                    @if (fieldControl.errors?.['userNameExists']) {
                    <span class="text-danger">❌ Username is already taken. Please choose another.</span>}
                    @else if (fieldControl.value) {
                    <span class="text-success">✅ Username is available.</span>}
                </div>
                }
                }
                @for (validation of fieldInformation.validation; track $index) {
                @let message=validation?.message;
                @if (fieldControl.errors?.[validation.type] && message) {
                <div class="font-poppins-400-16 text-danger">{{message}}</div>
                }}
            </div>
        </li>
        }
    </ul>
    <button type="submit" class="font-poppins-600-18 mt-5 submit-button" [ngClass]="formButton?.classes">
        {{formButton?.label||'Submit'}}
    </button>
</form>
}