@if (formGroup) {
<form [formGroup]='formGroup' (ngSubmit)="submit()" class="common-form">
    <ul class="form-fields">
        @for (formField of formFields; track $index) {
        <li class="mt-4 form-field">
            <div class="form-field-wrapper">
                @let fieldInformation = formField.information;
                @let controlName = fieldInformation.controlName;
                @let fieldControl = getFieldControl(controlName);
                <label [for]="controlName" class="font-poppins-500-16 mb-2">
                    {{fieldInformation?.label}}
                </label>
                @switch (fieldInformation.fieldType) {
                @case ('text') {
                <input [formControlName]="controlName" [type]="fieldInformation.type"
                    [placeholder]="fieldInformation?.placeholder" class="font-poppins-400-18 w-100 px-3 py-2">
                }
                @case ('textarea') {
                <textarea [formControlName]="controlName" [placeholder]="fieldInformation?.placeholder"
                    class="font-poppins-400-18 w-100 px-3 py-2">
                </textarea>
                }
                @case ('profilePicture') {
                <div>
                    @let profilePicture = fieldControl?.value;
                    <input #imageUploader type="file" accept="image/*" [placeholder]="fieldInformation?.placeholder"
                        (change)="openImageUploaderDialog($event, fieldControl)" class="d-none">
                    <button type="button"
                        class="bg-secondary rounded-circle position-relative profile-picture-preview-wrapper"
                        (click)="imageUploader.click()">
                        @if (profilePicture) {
                        <img [src]="profilePicture" alt="Profile Picture"
                            class="w-100 h-100 rounded-circle object-fit-cover" />
                        } @else {
                        <div class="w-100 h-100 position-absolute start-0 top-0">
                            <fa-icon [icon]="userIcon"
                                class="font-poppins-600-30 text-white position-absolute top-50 start-50 translate-middle"></fa-icon>
                        </div>
                        }
                        <div
                            class="position-absolute bottom-0 end-0 bg-primary rounded-circle p-1 position-relative profile-picture-edit-icon">
                            <fa-icon [icon]="pencilIcon"
                                class="font-poppins-600-16 text-white position-absolute top-50 start-50 translate-middle"></fa-icon>
                        </div>
                    </button>
                </div>
                }
                @case ('checkUserName') {
                <input [formControlName]="'checkUserName'" type="text" [placeholder]="fieldInformation?.placeholder"
                    class="font-poppins-400-18 w-100 px-3 py-2" (input)="inputUserName($event)">
                <div class="font-poppins-400-16">
                    @if (fieldControl.errors?.['userNameExists']) {
                    <span class="text-danger">❌ Username is already taken. Please choose another.</span>}
                    @else if (fieldControl.value && !fieldControl.errors) {
                    <span class="text-success">✅ Username is available.</span>}
                </div>
                }
                }
                @for (validation of fieldInformation.validation; track $index) {
                @let message = validation?.message;
                @if (fieldControl.errors?.[validation.type] && message) {
                <div class="font-poppins-400-16 text-danger">{{message}}</div>
                }}
            </div>
        </li>
        }
    </ul>
    <button type="submit" class="font-poppins-600-18 mt-5 submit-button" [ngClass]="formButton?.classes">
        {{formButton?.label||'Submit'}}
    </button>
</form>
}