<nav class="px-3 px-md-4 px-xl-5 py-2">
    <ul class="row row-cols-auto">
        <li class="flex-lg-grow-1 left">
            <ul class="row row-cols-auto menues">
                <li class="text-success menu">
                    <a routerLink="blogs" class="font-poppins-600-18 text-primary link">Blogs</a>
                </li>
            </ul>
        </li>
        <li class="right">
            <ul class="row row-cols-auto menues">
                @if (user?._id) {
                <li class="text-success menu">
                    <a routerLink="login" class="font-poppins-600-18 text-primary link">My Profile</a>
                </li>
                <li class="text-success menu">
                    <button type="button" class="font-poppins-600-18 text-primary link" (click)="logout()">
                        Logout
                    </button>
                </li>
                } @else {
                <li class="text-success menu">
                    <a routerLink="login" class="font-poppins-600-18 text-primary link">Login</a>
                </li>
                <li class="text-success menu">
                    <a routerLink="sign-up" class="font-poppins-600-18 text-primary link">Sign Up</a>
                </li>
                }
            </ul>
        </li>
    </ul>
</nav>