<nav class="px-3 px-md-4 px-xl-5 py-2">
    @if (user?._id) {
    <div class="d-sm-none mb-2">
        <button routerLink="edit-profile" class="d-block ms-auto">
            <app-profile [user]="user" [onlyProfile]="true"></app-profile>
        </button>
    </div>
    }
    <ul class="row row-cols-auto justify-content-sm-between align-items-center">
        <li class="flex-lg-grow-1 left">
            <ul class="row row-cols-auto menues">
                <li class="text-success menu">
                    <a routerLinkActive="active-manu" routerLink="blogs"
                        class="font-poppins-600-18 text-primary link">Blogs</a>
                </li>
            </ul>
        </li>
        <li class="right">
            <ul class="row row-cols-auto align-items-center menues">
                @if (user?._id) {
                <li class="text-success menu">
                    <a routerLinkActive="active-manu" routerLink="edit-profile"
                        class="font-poppins-600-18 text-primary link">Edit Profile</a>
                </li>
                <li class="text-success menu">
                    <button type="button" class="font-poppins-600-18 text-primary link" (click)="logout()">
                        Logout
                    </button>
                </li>
                <li class="d-none d-sm-block">
                    <button routerLink="edit-profile" class="border-dark-subtle ps-3 profile">
                        <app-profile [user]="user" [onlyProfile]="true"></app-profile>
                    </button>
                </li>
                } @else {
                <li class="text-success menu">
                    <a routerLinkActive="active-manu" routerLink="login"
                        class="font-poppins-600-18 text-primary link">Login</a>
                </li>
                <li class="text-success menu">
                    <a routerLinkActive="active-manu" routerLink="sign-up"
                        class="font-poppins-600-18 text-primary link">Sign Up</a>
                </li>
                }
            </ul>
        </li>
    </ul>
</nav>