@use './poppins.scss' as *;
@use './abril-fatface.scss' as *;
@use './sevillana.scss' as *;


// Color

.color-aqua {
    color: #00ffff;
}

.color-darkorange {
    color: #ff8c00;
}

.color-khaki {
    color: #f0e68c;
}


// outline

.text-outline-black-1 {
    text-shadow:
        -0.063rem -0.063rem 0 black,
        0.063rem -0.063rem 0 black,
        -0.063rem 0.063rem 0 black,
        0.063rem 0.063rem 0 black;
}