@use './generate-font-classes.scss' as generateFontsClasses;

// Define font weights and corresponding file names
$font-variations: (
    'Thin': 100,
    'ThinItalic': 100 italic,
    'ExtraLight': 200,
    'ExtraLightItalic': 200 italic,
    'Light': 300,
    'LightItalic': 300 italic,
    'Regular': 400,
    'Italic': 400 italic,
    'Medium': 500,
    'MediumItalic': 500 italic,
    'SemiBold': 600,
    'SemiBoldItalic': 600 italic,
    'Bold': 700,
    'BoldItalic': 700 italic,
    'ExtraBold': 800,
    'ExtraBoldItalic': 800 italic,
    'Black': 900,
    'BlackItalic': 900 italic
);

// Define font sizes as an array
$font-sizes: (
    12,
    14,
    16,
    18,
    20,
    22,
    24,
    26,
    28,
    30,
    32,
    34,
    36,
    38,
    40
);

$font-family-name: 'poppins';
$path: 'Poppins/Poppins';

@include generateFontsClasses.generate-font-styles($path, $font-family-name, $font-variations, $font-sizes);

/* Example font clacess:
    .font-poppins-400-16 {
        font-family: "poppins";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
    .font-poppins-400-16-italic {
        font-family: "poppins";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
*/