<div class="d-flex justify-content-between align-items-start">
    <div class="d-flex">
        @let name=user?.name;
        <div class="position-relative rounded-circle overflow-hidden profile-picture">
            @let profilePicture=user?.profilePicture;
            @if (profilePicture) {
            <img [src]="profilePicture" [alt]="name"
                class="position-absolute top-0 start-0 h-100 w-100 object-fit-cover">
            }
            @else {
            <div class="position-absolute top-0 start-0 h-100 w-100 bg-secondary">
                <fa-icon [icon]="userIcon"
                    class="font-poppins-600-18 text-white position-absolute top-50 start-50 translate-middle">
                </fa-icon>
            </div>
            }
        </div>
        <div class="ms-2">
            <span class="font-poppins-600-18 text-black d-block">
                {{name}}
            </span>
            <span class="font-poppins-400-14 text-muted d-block">
                {{date | date:'medium'}}
            </span>
        </div>
    </div>
    @if (user?._id==loginUser?._id && showMenu && !onlyProfile) {
    <button class="ms-3" [matMenuTriggerFor]="menu">
        <fa-icon [icon]="threeDotMenuIcon" class="font-poppins-600-16 text-dark"></fa-icon>
    </button>
    }
</div>


<mat-menu #menu="matMenu">
    @if (isComment) {
        <button mat-menu-item class="font-poppins-600-18 text-dark" (click)="editComment()">
            Edit
        </button>
        <button mat-menu-item class="font-poppins-600-18 text-danger" (click)="deleteComment()">
            Delete
        </button>
    } @else {
        <button mat-menu-item class="font-poppins-600-18 text-dark" (click)="editBlog()">
            Edit
        </button>
        <button mat-menu-item class="font-poppins-600-18 text-danger" (click)="deleteBlog()">
            Delete
        </button>
    }
</mat-menu>